{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="row p-4 m-4">
		<div class="col-lg-4 mt-4 border mb-4 mx-auto rounded pt-4" style="background: rgba(0, 128, 0, 0.3) /* Green background with 30% opacity */">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
<p>
    Your password has been set. You may go ahead and <a href="../../login">log in</a> now.
  </p>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}