{% extends 'base.html' %}


{% block content %}
{% load cart %}
{% load custom_filter %}
<div class="container">
   <div class="border rounded p-4 m-4">
        <p class="display-4 pl-4 ml-4">Your Cart</p>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>Sno.</th>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>

                {% for product in products %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><img style="height: 80px;" class="rounded-circle" src="{{product.image.url}}" alt=""></td>
                    <td>{{product.name}}</td>
                    <td>${{product.price}}</td>
                    <td>{{product|cart_quantity:request.session.cart}}</td>
					<td>
                        <div class="row no-gutters">
							<form action="/#" class="col-2 " method="post">
								{% csrf_token %}
								<input hidden type="text" name='product' value='{{product.id}}'>
								<input hidden type="text" name='remove' value='True'>
								<input type="submit" value=" - " class="btn btn-block btn-light border-right">
							</form>
							<div class="text-center col">{{product|cart_quantity:request.session.cart}}</div>
							<form action="/#" class="col-2 " method="post">
								{% csrf_token %}
								<input hidden type="text" name='product' value='{{product.id}}'>
								<input type="submit" value=" + " class="btn btn-block btn-light border-left">
							</form>
						</div>
                    </td>
                    <td>${{product|price_total:request.session.cart}}</td>
                </tr>

                {% endfor %}

            </tbody>

            <tfoot>
                <tr>
                    <th colspan="4"></th>
                    <th class="" colspan="">Total</th>
                    <th>${{products|total_cart_price:request.session.cart}}</th>
                </tr>
            </tfoot>
        </table>
        <hr>
        <div class="m-3 p-3">
            <a href="#" data-toggle="modal" data-target="#exampleModal" class="btn btn-outline-info border rounded  col-lg-3 float-right">Check out</a>
        </div>
   </div>
</div>

<!-- modal -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
              Check Out Form
          </h5>
          <hr>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="m-2 p-3">
            <form action="/check-out" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="">Address</label>
                  <input required type="text" name="address" id="" class="form-control" placeholder="" aria-describedby="helpId">

                </div>
                <div class="form-group">
                    <label for="">Phone</label>
                    <input required type="text" name="phone" id="" class="form-control" placeholder="" aria-describedby="helpId">
                  </div>
                <div class="form-group">
                    <label for="">Name on Card</label>
                    <input required type="text" name="phone" id="" class="form-control" placeholder="" aria-describedby="helpId">
                  </div>
                <form class="credit-card">
  <div class="form-header">
    <h4 class="title">Credit card detail</h4>
  </div>

  <div class="form-body">
    <!-- Card Number -->
    <input required type="text" class="card-number" placeholder="Card Number">

    <!-- Date Field -->
    <div class="date-field">
      <div class="month">
        <select name="Month">
          <option value="january">January</option>
          <option value="february">February</option>
          <option value="march">March</option>
          <option value="april">April</option>
          <option value="may">May</option>
          <option value="june">June</option>
          <option value="july">July</option>
          <option value="august">August</option>
          <option value="september">September</option>
          <option value="october">October</option>
          <option value="november">November</option>
          <option value="december">December</option>
        </select>
      </div>
      <div class="year">
        <select required name="Year">
          <option value="2016">2021</option>
          <option value="2017">2022</option>
          <option value="2018">2023</option>
          <option value="2019">2024</option>
          <option value="2020">2025</option>
          <option value="2021">2026</option>
          <option value="2022">2027</option>
          <option value="2023">2028</option>
          <option value="2024">2029</option>
        </select>
      </div>
    </div>

    <!-- Card Verification Field -->
    <div class="card-verification">
      <div class="cvv-input">
        <input required type="text" placeholder="CVV">
      </div>
      <div class="cvv-details">
        <p>3 or 4 digits usually found <br> on the signature strip</p>
      </div>
    </div>
  </div>

                  <input type="submit" class="btn float-right btn-outline-info col-lg-6" value="Check out">
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>

{% endblock %}